%btn-base {
  @include inline-flexbox;
  border: none;
  padding: 0 32px;
  font-weight: 400;
  border-radius: 4px;
  height: 35px;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

// NOTE: Button Styles
.btn-primary {
  @extend %btn-base;
  color: $gray;
  background-color: $jade;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $jade-dark;
  }
}

// NOTE: Button Sizes
.btn-32 {
  @include text-style(14);
  height: 32px;
}

.btn-40 {
  @include text-style(16);
  height: 40px;
}

.btn-48 {
  @include text-style(16);
  height: 48px;
}

.btn-55 {
  @include text-style(18);
  height: 55px;
}
