$primary: #e2e4e9;
$secondary: #f7f8fa;
$border: #5a5b62;

$background: #0b0d12;
$block: #1f2127;
$gray: #333;

$jade: #0ec7b5;
$jade-dark: #00b6a4;
$jade-light: #21efdb;

$red: #f86d7d;
$purple: #7044ed;
