.board-write-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .back-blur {
    margin-top: 3rem;
    z-index: -1;
    position: fixed;
    width: 100%;
    height: inherit;

    img {
      width: 100%;
      height: inherit;
      object-fit: cover;
    }
  }

  .index-box {
    flex: 1 0 60px;
    margin: 2rem;
    max-height: 500px;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // transition: 2s;

    .index-item {
      width: 100%;
      opacity: 0.8;
      background-color: $background;
      font-weight: lighter;
      font-size: 1rem;
      flex: 1 1 200px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.7s;

      &:hover {
        cursor: pointer;
        font-weight: bold;
        opacity: 1;
        color: $jade-dark;
      }
    }
    .selected {
      cursor: pointer;
      font-weight: bold;
      opacity: 1;
      color: $jade-dark;
    }

    .display-none {
      display: none;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .write-box {
    flex: 8;
    margin-right: 7rem;
    height: 80vh;
    z-index: 1;
    position: relative;
    animation: fadeOut;

    &::after {
      z-index: -1;
      content: "";
      background-color: $background;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      position: absolute;
      top: 0;
      left: 0;
    }

    .write-page {
      width: 100%;
      height: inherit;
      display: none;
    }

    .is-active {
      display: flex;
      animation: 1.5s fadeIn;
    }

    .btn-next {
      background: rgba($background, $alpha: 0.3);
      cursor: pointer;
      position: absolute;
      top: 2rem;
      right: 2rem;
      font-weight: 300;
      color: $jade;
      outline: none;
      border: $jade solid 1px;
      border-radius: 15px;
      font-size: 0.9rem;
      padding: 4px 10px;

      &:hover {
        cursor: pointer;
        transition: 1s;
        background: $jade-dark;
        color: $secondary;
        box-shadow: 0 0 5px $jade-dark, 0 0 10px $jade-dark;
      }

      &.page-2 {
        right: 40px;
      }
    }

    & > .page-0 {
      // display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 2rem;
      justify-content: start;
      height: calc(80vh - 60px);

      .search-bar-write {
        margin-bottom: 1.5rem;
      }

      .champions-pick {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow-y: scroll;
        width: 95%;

        .champions-pick-square {
          width: 60px;
          img {
            width: inherit;
          }
          transition: 0.5s;

          &:hover {
            cursor: pointer;
            transform: scale(1.5);
          }
        }
      }
    }

    & > .page-1 {
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .current-champion-img {
        padding-left: 2rem;
        flex: 0 1 90;

        img {
          width: 90%;
        }
      }

      .title-input-form {
        height: 100%;
        flex: 0.9;
        padding: 0 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .champ-name {
          font-size: 2.5rem;
          padding-bottom: 2rem;
        }

        .post-title,
        .post-subtitle {
          width: 100%;
        }

        p {
          width: 100%;
          font-weight: lighter;
          font-size: 1rem;
        }
        input {
          color: $primary;
          width: 90%;
          padding: 12px;
          background-color: $block;
          border: none;
        }
      }
    }
    & > .page-2 {
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      position: relative;

      textarea {
        color: $primary;
        margin: 0 2rem;
        border: none;
        background-color: $block;
        width: 70%;
        height: 84%;
        resize: none;
        padding: 5px;
        font-size: 0.9rem;
      }

      & > *:not(.btn-next) {
        width: 90%;
        display: flex;
        padding-left: 2rem;
      }

      & > *:nth-child(2) {
        color: $jade;
        font-weight: 500;
        font-size: 2rem;
        margin-bottom: -1rem;
      }

      .skill-name {
        font-weight: lighter;
        width: 100px;
        text-align: center;
        margin: 1rem 1rem 0 0;
        font-size: 0.9rem;
      }

      .skill-img {
        width: 75px;

        img {
          width: 100%;
        }
      }
    }
    & > .page-3 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .title {
        color: $jade-dark;
        padding-bottom: 1rem;
        font-size: 2rem;
      }

      .label {
        font-size: 1.2rem;
        z-index: 3;
        margin-top: 2rem;
      }

      textarea {
        border: none;
        background-color: $block;
        color: $primary;
        resize: none;
        width: 85%;
        height: 25%;
        margin: 1rem;
        font-size: 0.9rem;
      }
    }
    & > .page-4 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .title {
        color: $jade-dark;
        padding-bottom: 2rem;
        font-size: 2rem;
      }

      textarea {
        border: none;
        background-color: $block;
        color: $primary;
        resize: none;
        width: 85%;
        height: 200px;
        margin: 2rem;
      }

      .post-btn {
        margin-top: 3rem;
        font-size: 1.2rem;
        padding: 4px 12px;
        cursor: pointer;
        border: none;
        border-bottom: 1px solid $jade;
        background-color: transparent;
        color: $jade-dark;
        transition: 0.5s;

        &:hover {
          border: none;
          cursor: pointer;
          transition: 1s;
          background: $jade-dark;
          color: $secondary;
          box-shadow: 0 0 5px $jade-dark, 0 0 10px $jade-dark;
        }
      }
    }
  }
}

@media screen and (max-width: $lg-breakpoint) {
  .current-champion-img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 24%;
    width: 40%;
  }

  .write-box .page-1 .title-input-form {
    padding-left: 0 !important;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 75%;
    width: 50%;

    .post-title {
      width: 90% !important;
      font-size: 0.9rem !important;
    }

    .post-subtitle {
      width: 90% !important;
      font-size: 0.9rem !important;
    }
  }
}

@media screen and (max-width: $md-breakpoint) {
  .write-box {
    position: absolute;
    left: 55% !important;
    top: 43%;
    transform: translate(-50%, -50%);
  }

  .search-bar-write {
    position: absolute;
    top: 3.5% !important;
  }

  .champions-pick {
    position: absolute;
    top: 10% !important;
    height: 85% !important;
  }

  .index-box {
    position: fixed !important;
    left: -32px !important;
    min-width: 65px;
  }

  .page-0 {
    padding-top: 1rem !important;
  }

  .page-1 {
    .current-champion-img {
      img {
        width: 90% !important;
      }
    }

    .title-input-form {
      padding-right: 2rem !important;

      .champ-name {
        font-size: 2.5rem !important;
        padding-left: 3.5rem !important;
      }
      p {
        width: 100% !important;
        font-size: 1rem !important;
        padding-left: 1.5rem;
      }
    }
  }

  .page-2 {
    & > *:not(.btn-next) {
      width: 95% !important;
      padding-left: 1.5rem !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .page-1 {
    position: relative;

    .current-champion-img {
      position: absolute;
      top: 30%;
      left: 48%;
      transform: translate(-50%, -50%);
      width: 46%;
    }

    .title-input-form {
      position: absolute !important;
      top: 78% !important;
      left: 40% !important;
      transform: translate(-50%, -50%);

      .champ-name {
        padding: 0 !important;
        position: absolute;
        top: 33% !important;
        left: 67% !important;
        transform: translate(-50%, -50%);
      }

      input {
        width: 157% !important;
      }
    }
  }

  .page-2 {
    .skill-name {
      margin-top: 2.2rem !important;
      width: 80px !important;
    }

    .skill-img {
      margin-top: 1.2rem !important;
    }

    textarea {
      height: 110% !important;
      margin-left: 1rem !important;
    }
  }
}

@media screen and (max-width: 515px) {
  .write-box {
    .btn-next {
      margin: -1rem;
    }
  }

  .page-1 {
    .current-champion-img {
      width: 55%;
    }

    .title-input-form {
      top: 79% !important;
      font-size: 0.9rem !important;

      .champ-name {
        top: 30% !important;
      }
    }
  }

  .page-2 {
    & > *:not(.btn-next) {
      width: 95% !important;
      padding-left: 1rem !important;
    }

    .skill-name {
      margin-top: 1.5rem !important;
    }

    textarea {
      margin-right: 1rem !important;
    }
  }
}
