.landing > * {
  margin-bottom: 100px;
}

.landing {
  display: flex;
  flex-direction: column;
  margin-top: 12px;

  &:not(:last-child) {
    margin-bottom: 100px;
  }

  .landing-text.main {
    width: 100%;
    text-align: center;
    position: absolute;
    // z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .landing-title {
      font-size: 4rem;
      padding-bottom: 1.5rem;
    }

    .landing-discription {
      font-size: 1rem;
    }
  }

  .landing-img-wrapper {
    // &:last-child {
    //   margin-bottom: 0;
    // }
    width: 100%;
    height: 800px;
    position: relative;

    & > * {
      @include pos-center;
    }

    canvas {
      position: absolute;
      top: 45%;
      left: 50%;
      width: 100%;
      height: 700px;
      z-index: 1;
      filter: blur(0.5px);
    }

    .landing-img {
      // width: 100%;
      // height: 800px;
      opacity: 0.5;
      object-fit: cover;

      position: absolute;
      width: 105%;
      height: 105%;
    }
  }

  .landing-img-side {
    // &:last-child {
    //   margin-bottom: 0;
    // }

    display: flex;

    .landing-img {
      height: 400px;
      object-fit: cover;
      flex: 1;
      width: 50vw;
    }

    .landing-text {
      flex: 1;
      text-align: center;
      margin: auto;

      &-title {
        font-size: 2rem;
      }

      &-discription {
        padding: 1rem;
        font-size: 1rem;
      }
    }
  }
}

.sections .minimap {
  position: relative;
  display: flex;
}

section.section-minimap {
  position: relative;
  height: 100vh;
  // width: 100vw;
  display: flex;
  align-items: center;

  .pointWrap {
    position: absolute;
    left: 5%;
    top: 40%;
    z-index: 100;
    transition: opacity 3s ease-out;

    li {
      list-style: none;
      width: 0.9rem;
      height: 0.9rem;
      margin-top: 20px;
      cursor: pointer;
      background-color: $border;
      border-radius: 50%;
      transition: background 0.3s ease-out;

      &.active {
        background-color: $jade;
        box-shadow: 0 0 5px $jade, 0 0 25px $jade;
      }
    }
  }
}

.innerWrap {
  visibility: hidden;
  opacity: 0;
}
.active .innerWrap {
  transition: opacity 1s ease-in-out;
  position: relative;
  padding: 30px 30px 30px 70px;
  width: 50%;
  z-index: 5;
  left: 10%;
  visibility: visible;
  opacity: 1;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);

  .minimap {
    position: fixed;
    width: 100%;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
  }

  .lane {
    position: fixed;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    width: 0%;
    // z-index: 5;
  }

  .icon {
    width: 100%;
    position: fixed;
    visibility: hidden;
    opacity: 0;
  }
}

.active .image-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);

  .minimap {
    position: fixed;
    width: 100%;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
  }

  .lane {
    transition: opacity 1s ease-in-out;
    position: fixed;
    width: 100%;
    top: 60%;
    left: 70%;
    opacity: 1;
    transform: translate(-50%, -50%);
    visibility: visible;
    z-index: 5;
  }

  .icon {
    transition: opacity 2.7s ease-in-out;
    position: fixed;
    width: 100%;
    top: 60%;
    left: 70%;
    opacity: 1;
    transform: translate(-50%, -50%);
    visibility: visible;
    z-index: 5;
  }
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  border: solid #fff 1px;
  margin-top: 25px;
  opacity: 0.7;
}

// .showcase {
//   // height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
//   color: #fff;
//   // padding: 0 20px;
//   position: relative;
// }

// .video-container {
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   position: absolute;
//   // background: var($primary) url("./https://traversymedia.com/downloads/cover.jpg") no-repeat center center/cover;
// }

// .video-container video {
//   opacity: 0.5;
//   min-width: 100%;
//   min-height: 100%;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   object-fit: cover;
//   z-index: -1;
// }

// .video-container:after {
//   content: "";
//   z-index: -1;
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
//   background: rgba(0, 0, 0, 0.5);
//   position: absolute;
// }
