.my-page-background-img {
  z-index: -2;
  position: absolute;
  border: none;
  height: calc(100% - 50px);
  & > img {
    height: 100%;
    opacity: 0.3;
    object-fit: cover;
  }
}

.my-page-background-blur {
  position: absolute;
  border: none;
  height: calc(100% - 50px);
  width: 100%;
  z-index: -1;
  background: linear-gradient(transparent, $background, $background);
}

.my-page {
  padding-top: 3rem;
  font-weight: lighter;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .label {
    font-weight: 300;
  }

  .num {
    font-weight: bolder;
  }

  .box-label {
    font-weight: bold;
    color: $purple;
    margin-top: -2rem;
    font-size: 1.4rem;
    background-color: $background;
    padding: 0 1rem;
    width: max-content;
  }

  & > * {
    padding: 1rem;
    border: 1px solid $border;
    margin: 1rem;
    width: 50%;
    min-width: 320px;
    border-radius: 4px;
  }

  .my-post-empty,
  .my-follower-empty,
  .my-followee-empty,
  .my-search-empty {
    opacity: 0.3;
    padding: 1rem;
  }

  & > .user-title {
    border: none;
    display: inline-flex;
    justify-content: space-between;

    & > *:first-child {
      font-size: 3rem;
    }

    & > .follow-btn {
      margin-top: auto;

      .follow {
        cursor: pointer;
        display: flex;
        align-items: center;
        opacity: 0.7;
        border: 1px solid $border;
        padding: 4px 12px;
        border-radius: 4px;
        transition: 0.7s;
        i {
          padding-right: 4px;
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    // & > *:last-child {
    //   height: max-content;
    //   margin-top: auto;
    //   background-color: transparent;
    //   border: none;
    //   color: $jade;
    //   cursor: pointer;

    //   &:hover {
    //     text-decoration: underline;
    //   }
    // }
  }

  & > .user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    & > * {
      margin-bottom: 1rem;
    }

    .user-email {
      font-size: 1.2rem;
    }

    .numbers {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      .post-num,
      .follower-num,
      .followee-num {
        flex: 1 1 auto;
        text-align: center;

        & > *:last-child {
          margin-top: 4px;
          font-size: 2rem;
        }
      }
    }
  }

  & > .user-posts {
    & > * {
      margin-bottom: 1rem;
    }

    .post {
      .label {
        margin-bottom: 1rem;
        padding-left: 8px;
        border-left: 1px solid $border;
      }

      .post-list {
        overflow: scroll;
        display: flex;
        width: 100%;
        height: max-content;
        .my-post {
          cursor: pointer;
        }

        .post-item {
          flex: 0 0 100px;
          position: relative;
          margin-right: 1rem;
          width: 100px;
          height: 100px;

          .text {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
          }

          .title {
            font-size: 1.2rem;
            padding: 4px;
          }

          img {
            position: absolute;
            width: 100px;
            height: 100px;
            opacity: 0.2;
          }
        }
      }
    }
  }

  & > .user-follow {
    & > * {
      margin-bottom: 1rem;
    }

    .label {
      margin-bottom: 1rem;
      padding-left: 8px;
      border-left: 1px solid $border;
    }

    .follow-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-bottom: 4px;

      .nickname {
        padding-right: 8px;
      }

      .email {
        font-size: 0.8rem;
        opacity: 0.7;
      }

      .unfollow {
        cursor: pointer;
        padding-left: 80px;
        color: $red;
        font-size: 0.7rem;
        opacity: 0.8;

        &:hover {
          text-decoration: underline;
        }
      }

      .following {
        cursor: pointer;
        padding-left: 80px;
        color: $jade;
        font-size: 0.7rem;
        opacity: 0.8;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  & > .user-search-history {
    & > * {
      margin-bottom: 1rem;
    }
    margin-bottom: 1rem;

    .label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-left: 1px solid $border;
      .left {
        padding-left: 8px;
      }
      .right {
        color: $red;
        cursor: pointer;
        opacity: 0.8;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .search-item {
      display: flex;
      padding-bottom: 4px;
      justify-content: center;
      opacity: 0.8;
    }
  }

  & > .user-etc {
    & > * {
      margin-bottom: 1rem;
    }

    .label {
      margin-bottom: 1rem;
      padding-left: 8px;
      border-left: 1px solid $border;
    }

    .button-group {
      display: flex;
      justify-content: space-evenly;

      button {
        font-weight: lighter;
        background-color: transparent;
        border-radius: 4px;
        border: none;
        border-left: 1px solid $jade;
        padding: 4px 12px;
        color: $primary;
        transition: 1s;
        cursor: pointer;
      }

      .leave {
        color: $red;
        border-left: 1px solid $primary;
      }
    }
  }
}

// modal Scss

.post-modal-background {
}

.post-modal {
  font-weight: lighter;
  position: relative;
  display: flex;
  flex-direction: column;
  //
  width: 100%;
  min-width: 320px;
  max-width: 800px;
  height: 80% !important;

  & > .contents-box {
    width: 100%;
    height: 100%;
    min-width: 280px;

    input {
      // background-color: transparent;
      background-color: $block;
      color: $primary;
      border: none;
      // border-bottom: 1px solid $jade;
      width: 90%;
    }

    .head {
      display: flex;
      align-items: center;

      .head-text {
        padding-left: 1rem;
        width: 100%;
        height: 100%;
        .title {
          font-size: 1.5rem;
          padding-bottom: 1rem;
        }
        .description {
        }
      }
    }

    .skill-list {
      width: 100%;
      padding: 1rem 0;
    }

    .skill-group {
      padding-top: 1rem;
      display: flex;
      align-items: center;

      img {
        width: 50px;
      }

      .skill-text {
        margin-left: 1rem;
      }
    }

    .square {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: max-content;

      img {
        width: 100px;
        height: 100px;
      }
      .champion {
        text-align: center;
        width: 100%;
      }
    }

    .play {
      display: flex;
      flex-direction: column;

      .play-a,
      .play-b,
      .play-c {
        display: flex;
        padding: 1rem 0;

        .label {
          text-align: left;
          width: 66px;
        }
      }
    }
  }

  .date-data {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: 0.5;
  }
}
@media screen and (max-width: 576px) {
  .post-modal {
    height: 100% !important;
  }
}

.modal {
  .btn-close {
    position: absolute;
    left: 90%;
    top: 5%;
  }

  .btn-wrapper {
    position: absolute;
    top: 80%;
    left: 10%;

    .font-red {
      color: $red;
    }
  }
}

.leave-modal,
.change-modal,
.new-password-modal {
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: center;

  .text {
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 2rem;
  }

  input {
    background-color: $block;
    color: $primary;
    border: none;
    width: 90%;
    padding: 4px 12px;
  }

  .btn-wrapper {
    top: 60%;
  }
}

.new-password-modal {
  height: 40%;

  .label {
    font-weight: lighter;
    padding-bottom: 1rem;
  }

  .btn-wrapper {
    top: 70%;
  }

  .password1 {
    margin-bottom: 1rem;
  }
}
