.players-search-page {
  width: 100%;
  height: 100%;
  position: relative;

  & > .players-search-bar {
    display: flex;
    width: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > .match-search-bar {
      width: 80%;
      display: flex;
      flex: 1 1 60px;
      justify-content: space-around;
      // background-color: blue;
    }

    & > .tabs {
      display: flex;
      flex: flex-end;
      font-size: small;
      height: 40px;
      margin: 0;
      width: 30%;

      .tab {
        display: flex;
        justify-content: center;
        background: $secondary;
        background-image: linear-gradient(90deg, transparent 70%, rgba(255, 255, 255, 0.2) 100%);
        border: none;
        outline: none;
        cursor: pointer;
        width: 100%; /*change depending on the number of tabs*/
        height: 100%;
        position: relative;
        align-items: center;
        font-size: 16px;
        overflow: hidden;
        transition: 0.3s ease;
      }
      .solo-tab {
        border-top-left-radius: 0.7rem;
        border-bottom-left-radius: 0.7rem;
      }

      .duo-tab {
        border-top-right-radius: 0.7rem;
        border-bottom-right-radius: 0.7rem;
      }

      /*tab buttons hover*/

      /* Tab active */

      .tab.active {
        background-color: $jade;
        background-image: linear-gradient(90deg, transparent 70%, rgba(255, 255, 255, 0.2) 100%);

        z-index: 0;
        border-right: 0px;
        border-left: 0px;
        height: 40px;
        bottom: 0px;
        overflow: hidden;
        color: $secondary;

        @media screen and (max-width: 512px) {
          height: 40px;
        }
      }
    }

    & > .solo-wrap {
      & > .players-input {
        display: flex;
        max-width: max-content;
        height: 30px;
        align-self: center;
        border-radius: 5px;
        background-color: $secondary;
        color: $jade;
      }
    }
    & > .duo-wrap {
      display: flex;
      justify-content: space-evenly;
      & > .players-input {
        display: flex;
        max-width: max-content;
        align-self: center;
        margin: 0;
        border-style: none;
        background-color: $secondary;
        height: 30px;
        border-radius: 5px;
        color: $jade;
      }
    }
    & > .solo-wrap,
    .duo-wrap {
      display: flex;
      align-self: center;
      flex-direction: row;
      justify-content: center;

      & > .summoner-search-btn {
        display: flex;
        align-self: center;
        box-sizing: border-box;
        appearance: none;
        background-color: transparent;
        border: 2px solid $purple;
        border-radius: 3em;
        color: $purple;
        cursor: pointer;
        font-size: $font-size-14;
        font-weight: 400;
        line-height: 1;
        margin: 10px;
        padding: 0.7rem 1.2rem;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;

        &:hover,
        &:focus {
          color: #fff;
          outline: 0;
        }
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        &:hover {
          box-shadow: 0 0 40px 40px $purple inset;
        }
      }
    }
  }

  & > .user-data-view {
    margin: 30px;
    display: flex;
    flex-direction: column;
    position: relative;

    & > .solo-search-result {
      & > .summonerInfo {
        display: flex;
        margin-top: 30px;
        width: 100%;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        .summoner-name {
          font-size: $font-size-24;
        }

        .summoner-lank-info {
          display: flex;
          flex-direction: column;
          align-content: center;
          font-size: $font-size-14;
          margin: 5px;

          .summoner-tier {
            text-align: center;
            margin: 3px;
          }
        }
        .summoner-tags {
          display: flex;
          justify-content: center;
          .tag.active {
            display: inline-block;
            position: relative;
            border-radius: 10px;
            border-color: $purple-light;
            background-color: $purple-light;
            margin: 10px;
            width: fit-content;
            padding: 7px;
            font-size: $font-size-12;
            text-align: center;
          }

          .tag.active:after {
            display: inline;
            position: absolute;
            top: 0px;
            left: 0;
            opacity: 0;
            width: 100px;
            padding: 10px;
            border: 1px solid #212121;
            background-color: $secondary;

            color: #212121;
            pointer-events: none;
            transition: opacity 250ms, top 250ms;
            content: attr(data-ballon);
            align-content: center;
            font-size: 1em;
            align-items: center;
          }

          .tag.active:hover {
            z-index: 100;
            background-color: $jade-dark;
            border-radius: none;
          }

          .tag:hover::after {
            opacity: 1;
            height: auto;
            width: max-content;
            font-family: "Noto-Sans KR";

            border-radius: 10px;
            font-size: 0.8rem;
            align-self: center;
          }

          .tag:hover::after {
            top: 30px;
          }
        }
      }

      & > .summoner-graph {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;

        .graph-section {
          display: flex;
          width: 100%;
          justify-content: center;
          flex-wrap: wrap;
          .graph {
            flex: 0 0 300px;
            margin: 20px;
            padding: 20px;
            background: $block;
            border-radius: 20px;
            box-shadow: 0px 1px 15px 1px rgba(152, 151, 151, 0.08);
          }

          .summoner-most-champion {
            background-color: $block;
            height: 270px;
            width: 300px;
            display: flex;
            flex-direction: column;
            align-self: center;
            margin: 15px;
            border-radius: 20px;
            justify-content: space-evenly;
            flex-wrap: wrap;

            .mostChamp {
              height: 45px;
              display: flex;
              margin-left: 20px;
              flex-direction: row;
              justify-content: flex-start;

              .mostChamp-img {
                margin-right: 10px;
              }

              .rate-detail {
                img > {
                  margin-left: 5px;
                }
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .champ-win-lose {
                  justify-content: center;
                  display: inline-block;
                  font-size: $font-size-18;
                  line-height: 24px;
                  flex-wrap: wrap;

                  & > .all {
                    color: $secondary;
                  }

                  & > .win {
                    color: $jade;
                  }

                  & > .lose {
                    color: $red;
                  }
                }

                .champ-rate {
                  margin: 15px;
                  margin-left: 30px;
                  font-weight: 600;
                  display: inline-block;
                  font-size: $font-size-24;
                  .champ-rate-num {
                    color: $purple;
                  }
                }
              }
            }
          }
          .win-rate {
            flex: 0 0 0px;
            margin: 20px;
            padding: 20px;
          }
        }
      }
    }

    & > .duo-search-result {
      border: 2px solid red;
      margin-top: 30px;
      display: flex;
      & > .duo-match-thumbnail {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        & > .match-success-point {
          margin: 30px;
          text-align: center;
          display: flex;
          flex-wrap: wrap;
          background-color: red;
        }
        & > .two-summoner-info {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          & > .summonerInfo {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-direction: column;
            justify-content: flex-start;
            // align-items: center;
            .summoner-name {
              font-size: $font-size-24;
            }

            .summoner-lank-info {
              display: flex;
              flex-direction: column;
              align-content: center;
              font-size: $font-size-14;
              margin: 5px;
              .summoner-most-champion {
                display: flex;
                align-self: center;
                margin: 15px;
              }

              .summoner-tier {
                text-align: center;
                margin: 3px;

                .summoner-tier-icon {
                  width: 50px;
                  height: 100px;
                  img {
                    width: 80px;
                    height: auto;
                  }
                }
              }

              .summoner-tags {
                display: flex;
                justify-content: center;
                width: 100px;

                .tag.active {
                  display: flex;
                  position: absolute;
                  border-radius: 10px;
                  border-color: $purple-light;
                  background-color: $purple-light;
                  margin: 10px;
                  width: fit-content;
                  padding: 7px;
                  font-size: $font-size-12;
                  text-align: center;
                }

                .tag.active:after {
                  display: inline;
                  position: absolute;
                  top: 0px;
                  left: 0;
                  opacity: 0;
                  width: 100px;
                  padding: 10px;
                  border: 1px solid #212121;
                  background-color: $secondary;

                  color: #212121;
                  pointer-events: none;
                  transition: opacity 250ms, top 250ms;
                  content: attr(data-ballon);
                  align-content: center;
                  font-size: 1em;
                  align-items: center;
                }

                .tag.active:hover {
                  z-index: 100;
                  background-color: $jade-dark;
                  border-radius: none;
                }

                .tag:hover::after {
                  opacity: 1;
                  height: auto;
                  width: max-content;
                  font-family: "Noto-Sans KR";

                  border-radius: 10px;
                  font-size: 0.8rem;
                  align-self: center;
                }

                .tag:hover::after {
                  top: 30px;
                }
                // .tag {
                //   display: none;
                // }
              }
              & > .summoner-graph {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                .graph-section {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-evenly;
                  // flex-wrap: wrap;
                  margin: 10px;

                  .graph {
                    display: flex;
                    flex: 0 0 250px;
                    background: $block;
                    border-radius: 20px;
                    box-shadow: 0px 1px 15px 1px rgba(152, 151, 151, 0.08);
                  }
                }
              }
              .summoner-most-champion {
                background-color: $block;
                height: 270px;
                width: 300px;
                display: flex;
                flex-direction: column;
                align-self: center;
                margin: 15px;
                border-radius: 20px;
                justify-content: space-evenly;
                flex-wrap: wrap;

                .mostChamp {
                  height: 45px;
                  display: flex;
                  margin-left: 20px;
                  flex-direction: row;
                  justify-content: flex-start;

                  .mostChamp-img {
                    margin-right: 10px;
                  }

                  .rate-detail {
                    img > {
                      margin-left: 5px;
                    }
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .champ-win-lose {
                      justify-content: center;
                      display: inline-block;
                      font-size: $font-size-18;
                      line-height: 24px;
                      flex-wrap: wrap;

                      & > .all {
                        color: $secondary;
                      }

                      & > .win {
                        color: $jade;
                      }

                      & > .lose {
                        color: $red;
                      }
                    }

                    .champ-rate {
                      margin: 15px;
                      margin-left: 30px;
                      font-weight: 600;
                      display: inline-block;
                      font-size: $font-size-24;
                      .champ-rate-num {
                        color: $purple;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
