.players-search-page {
  width: 100%;
  height: 100%;
  position: relative;

  & > .players-search-bar.default {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & > .players-search-bar {
    display: flex;
    width: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > .match-search-bar {
      width: 80%;
      display: flex;
      flex: 1 1 60px;
      justify-content: space-around;
      // background-color: blue;
    }

    & > .tabs {
      display: flex;
      flex: flex-end;
      font-size: small;
      height: 40px;
      margin: 0;
      width: 30%;

      .tab {
        display: flex;
        justify-content: center;
        background: $secondary;
        background-image: linear-gradient(90deg, transparent 70%, rgba(255, 255, 255, 0.2) 100%);
        border: none;
        outline: none;
        cursor: pointer;
        width: 100%; /*change depending on the number of tabs*/
        height: 100%;
        position: relative;
        align-items: center;
        font-size: 16px;
        overflow: hidden;
        transition: 0.3s ease;
      }
      .solo-tab {
        border-top-left-radius: 0.7rem;
        border-bottom-left-radius: 0.7rem;
      }

      .duo-tab {
        border-top-right-radius: 0.7rem;
        border-bottom-right-radius: 0.7rem;
      }

      /*tab buttons hover*/

      /* Tab active */

      .tab.active {
        background-color: $purple;
        background-image: linear-gradient(90deg, transparent 70%, rgba(255, 255, 255, 0.2) 100%);

        z-index: 0;
        border-right: 0px;
        border-left: 0px;
        height: 40px;
        bottom: 0px;
        overflow: hidden;
        color: $secondary;

        @media screen and (max-width: 512px) {
          height: 40px;
        }
      }
    }

    & > .solo-wrap {
      .search-bar.players-input {
        display: flex;

        height: 30px;
        align-self: center;
        border-radius: 12px;
        padding: 8px;
        background-color: $block;
        color: $jade;
        border: none;
        justify-content: flex-end;

        & > input {
          background-color: $block;
          border-style: none;
          color: $jade;
        }
        & > i {
          color: $jade;
          margin: 1px;
          line-height: 1;
          font-size: 25px;
          font-family: "new-meta" !important;
        }
      }
    }
    & > .duo-wrap {
      display: flex;
      justify-content: space-evenly;

      .search-bar.players-input {
        display: flex;
        align-self: center;
        background-color: $block;
        height: 30px;
        border-radius: 12px;
        padding: 8px;
        color: $jade;
        justify-content: flex-end;
        & > input {
          background-color: $block;
          border-style: none;
          color: $jade;
        }
        & > i {
          color: $jade;
          margin: 1px;
          line-height: 1;
          font-size: 25px;
          font-family: "new-meta" !important;
        }
      }
    }
    & > .solo-wrap,
    .duo-wrap {
      display: flex;
      align-self: center;
      flex-direction: row;
      justify-content: center;

      & > .summoner-search-btn {
        display: inline-block;
        padding: 20px 25px;
        margin: 010px 10px 10px;
        color: $jade;
        border-radius: 12px;
        outline: none;
        font-weight: 300;
        font-size: 16px;
        transition: 1s;
        // background-color: $jade-dark;
        text-decoration: none;

        &:hover {
          cursor: pointer;
          background: $jade;
          color: $secondary;
          box-shadow: 0 0 5px $jade-light, 0 0 30px $jade-light;
        }
      }
    }
  }

  & > .user-data-view {
    margin: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    /* 솔로 검색 시 */

    & > .solo-search-result {
      & > .summonerInfo {
        display: flex;
        margin-top: 30px;
        width: 100%;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        .summoner-name {
          font-size: $font-size-24;
        }

        .summoner-lank-info {
          display: flex;
          flex-direction: column;
          align-content: center;
          font-size: $font-size-14;
          margin: 5px;

          .summoner-tier {
            text-align: center;
            margin: 3px;
            align-content: center;
            align-items: center;
            & > img {
              width: 15%;
              margin-top: 10px;
            }
          }
        }
        .summoner-tags {
          margin-top: 20px;
          $duration: 500ms;
          $tooltip-height: max-content;
          $tooltip-width: 130px;
          display: flex;
          justify-content: space-evenly;
          height: 50px;
          width: 100%;

          .tag {
            display: none;
          }

          .tag.active {
            height: max-content;
            padding: 8px 16px;
            display: flex;
            position: relative;
            background-color: transparent;
            border: 1px solid $jade-dark;
            color: $jade-dark;
            font-size: $font-size-12;
            border-radius: 10px;
            align-items: center;
            width: fit-content;
            margin-right: 10px;
            transition: 0.7s;

            &:hover {
              background-color: $jade;
              color: $primary;
            }

            // Tooltip
            &::before {
              color: $primary;
              content: attr(data-tooltip);
              width: $tooltip-width;
              height: $tooltip-height;
              padding: 10px;
              background-color: $purple-light;
              font-size: $font-size-12;
              border-radius: 0.25rem;
              line-height: $line-height-12;
              bottom: 90px;
              left: calc(50% - 70px);
            }

            &::after {
              content: "";
              width: 0;
              height: 0;
              border: 10px solid transparent;
              border-top-color: $purple-light;
              left: calc(50% - 10px);
              bottom: 70px;
            }

            &::before,
            &::after {
              position: absolute;
              opacity: 0;
              transition: all $duration;
              visibility: hidden;
            }
            //- tag hover
            &:hover {
              &::before,
              &::after {
                opacity: 1;
                visibility: visible;
              }

              &::after {
                bottom: 30px;
              }

              &::before {
                bottom: 50px;
              }
            }

            &:active {
              transform: translate(2px, 2px);
            }
          }
        }
      }

      & > .summoner-graph {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;

        .label {
          font-size: 1.4rem;
          width: max-content;
          padding: 0 1rem;
          background-color: $background;
          margin-top: -2.2rem;
          font-weight: 300;
        }

        .graph-section {
          display: flex;
          width: 100%;
          justify-content: center;
          flex-wrap: wrap;

          .graph-laneInfo {
            flex: 0 0 250px;
            position: relative;
            margin: 20px;
            padding: 20px;
            width: max-content;
            height: 260px;

            .div-laneInfo {
              position: absolute;
              width: 90%;
              top: 50%;
              left: 50%;
              transform: translate((-50%, -50%));

              // .LaneInfo-chart {
              //   height: 100%;
              // }
            }

            .img-laneInfo {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate((-50%, -50%));
              display: flex;
            }
          }

          .graph {
            flex: 0 0 300px;
            position: relative;
            margin: 20px;
            padding: 20px;
            border: 1px solid $border;
            width: max-content;
          }
          .summoner-most-champion {
            height: 260px;
            width: 300px;

            .most-champ-wrap {
              justify-content: space-evenly;
              flex-wrap: wrap;
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              align-self: center;
            }

            .mostChamp {
              height: 45px;
              display: flex;

              flex-direction: row;
              justify-content: space-evenly;

              .mostChamp-img {
                margin-right: 10px;
              }

              .rate-detail {
                display: flex;
                align-items: center;

                .champ-win-lose {
                  font-size: $font-size-18;
                  line-height: 24px;

                  & > .all {
                    color: $secondary;
                  }

                  & > .win {
                    color: $jade;
                  }

                  & > .lose {
                    color: $red;
                  }
                }

                .champ-rate {
                  margin-left: 30px;
                  font-weight: 600;
                  font-size: $font-size-24;
                  .champ-rate-num {
                    color: $purple;
                  }
                }
              }
            }
          }

          .win-rate {
            flex: 0 0 0px;
            margin: 20px;
            padding: 20px;
            height: 260px;
          }
          .timeline-chart {
            padding-top: 1rem;
          }
          .heatmap {
            padding-top: 1rem;
          }
        }
      }
    }
    /* 듀오 검색 시 */

    & > .duo-search-result {
      display: flex;
      flex-direction: column;
      width: 100%;

      & > .duo-match-thumbnail {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        & > .match-success-result {
          margin: 30px;
          text-align: center;
          display: flex;
          flex-direction: column;

          .match-success-points-container {
            font-size: $font-size-18;
            line-height: $line-height-24;
            font-weight: 300;
            .match-success-points {
              display: flex;
              flex-direction: column;
              font-size: $font-size-24;
              line-height: $line-height-24;

              align-items: center;
              & > .result {
                display: flex;
                .number {
                  color: $red;
                  font-weight: 700;
                }
              }
            }
          }
        }

        & > .summonerInfo {
          display: flex;
          flex-direction: column;
          align-items: center;

          .summoner-name {
            font-size: $font-size-24;
            margin: 15px;
          }

          .summoner-rank-info {
            display: flex;
            flex-direction: column;
            align-content: center;
            font-size: $font-size-14;
            margin: 5px;
            text-align: center;
            align-items: center;

            .summoner-tier-info {
              text-align: center;
              margin: 5px;
              margin-bottom: 10px;

              .summoner-tier {
                text-align: center;
                margin: 5px;
                align-content: center;
                align-items: center;
              }
            }
            .tier-icon {
              width: 15%;
              margin-top: 10px;
            }

            .summoner-tags {
              margin-top: 20px;
              $duration: 500ms;
              $tooltip-height: max-content;
              $tooltip-width: 130px;
              display: flex;
              flex-wrap: wrap;
              justify-content: space-evenly;
              width: 100%;
              height: 100px;

              .tag {
                display: none;
              }

              .tag.active {
                height: max-content;
                padding: 8px 16px;
                display: flex;
                position: relative;
                background-color: transparent;
                border: 1px solid $jade-dark;
                color: $jade-dark;
                font-size: $font-size-12;
                border-radius: 10px;
                align-items: center;
                width: fit-content;
                margin-right: 10px;
                transition: 0.7s;

                &:hover {
                  background-color: $jade;
                  color: $primary;
                }

                // Tooltip
                &::before {
                  color: $primary;
                  content: attr(data-tooltip);
                  width: $tooltip-width;
                  height: $tooltip-height;
                  padding: 10px;
                  background-color: $purple-light;
                  font-size: $font-size-12;
                  border-radius: 0.25rem;
                  line-height: $line-height-12;
                  bottom: 90px;
                  left: calc(50% - 70px);
                }

                &::after {
                  content: "";
                  width: 0;
                  height: 0;
                  border: 10px solid transparent;
                  border-top-color: $purple-light;
                  left: calc(50% - 10px);
                  bottom: 70px;
                }

                &::before,
                &::after {
                  position: absolute;
                  opacity: 0;
                  transition: all $duration;
                  visibility: hidden;
                }
                //- tag hover
                &:hover {
                  &::before,
                  &::after {
                    opacity: 1;
                    visibility: visible;
                  }

                  &::after {
                    bottom: 30px;
                  }

                  &::before {
                    bottom: 50px;
                  }
                }

                &:active {
                  transform: translate(2px, 2px);
                }
              }
            }
          }
        }
      }

      & > .both {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 1;

        .middle {
          z-index: 2;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 1.1rem;

          .text {
            height: max-content;
            padding: 3rem 0;
            background-color: $background;
          }

          .most {
            height: 180px;
            display: flex;
            align-items: center;
          }

          .lane {
            margin: 3rem 0;
            height: 260px;
            display: flex;
            align-items: center;
          }

          .heatmap {
            height: 315px;
            display: flex;
            align-items: center;
          }
        }

        .left {
          margin-right: 1rem;
        }

        .right {
          margin-left: 1rem;
        }

        .left,
        .right {
          flex: 1 1 auto;
          & > .summoner-graph {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .graph.summoner-most-champion {
              border: 1px solid $border;
              display: flex;
              flex-direction: column;
              align-self: center;
              justify-content: center;
              width: 100%;
              flex: 0 0 180px;

              .mostChamp {
                height: 45px;
                display: flex;

                justify-content: space-evenly;
                flex-direction: row;

                .mostChamp-img {
                  margin-right: 10px;
                }

                .rate-detail {
                  display: flex;
                  align-items: center;

                  .champ-win-lose {
                    font-size: $font-size-18;
                    line-height: 24px;

                    & > .all {
                      color: $secondary;
                    }

                    & > .win {
                      color: $jade;
                    }

                    & > .lose {
                      color: $red;
                    }
                  }

                  .champ-rate {
                    margin-left: 30px;
                    font-weight: 600;
                    display: inline-block;
                    font-size: $font-size-24;
                    .champ-rate-num {
                      color: $purple;
                    }
                  }
                }
              }
            }

            .laneInfo {
              border: 1px solid $border;
              position: relative;
              width: 100%;
              height: 260px;
              margin: 3rem 0;
              .div-laneInfo {
                display: inline-block;
                position: absolute;
                width: 90%;
                height: max-content;
                top: 50%;
                left: 50%;
                transform: translate((-50%, -50%));

                .LaneInfo-chart {
                  height: 100%;
                }
              }

              .img-laneInfo {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate((-50%, -50%));
                display: flex;
              }
            }

            .heatmapInfo {
              display: flex;
              justify-content: center;
              width: 100%;
              border: 1px solid $border;
            }
          }
        }
      }
      & > .common-graph {
        margin-top: 3rem;
        display: flex;
        width: 100%;
        justify-content: center;
      }
    }
  }
}
