.footer {
  flex: 0 0 100px;
  // border-top: 1px solid $border;
  background-color: $block;
  display: flex;
  padding: 0 3rem 2rem 3rem;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;

  & > * {
    width: max-content;
    font-weight: lighter;
    color: $border;
    padding-top: 3rem;
  }

  a {
    text-decoration: none;

    &:link {
      color: $border;
      text-decoration: none;
    }
    &:visited {
      color: $border;
      text-decoration: none;
    }
    &:hover {
      color: $border;
    }
  }

  .label {
    text-align: center;
    padding-bottom: 1rem;
    font-weight: 500;
    color: $primary;
  }

  & > .logo {
    img {
      width: 200px;
      padding-left: 2px;
    }

    .text {
      padding: 1rem 0;
    }

    .copyright {
      font-size: 0.8rem;
      opacity: 0.8;
      color: $primary;
      padding: 1rem 0;
    }

    .policy-en {
      width: 400px;
      font-size: 8px;
      padding-bottom: 1rem;
    }

    .policy-ko {
      color: $primary;
      opacity: 0.8;
      font-size: 12px;
      padding-bottom: 12px;
    }
  }

  & > .info {
    .mores {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .more {
      padding-bottom: 4px;
    }
  }

  & > .team {
    .members {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .member {
      color: $primary;
      padding-bottom: 4px;
    }
  }

  & > .connect {
    .icons {
      cursor: pointer;
      width: 200px;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
