.nav {
  @include flexbox(between);
  padding: 0.7rem 2rem;
  // border-bottom: 1px solid #5A5B62;
  // flex: 0 0 27px;
  position: fixed;
  height: 27px;
  z-index: 100;
  width: 100%;
  background-color: rgba($color: $background, $alpha: 0.75);
  backdrop-filter: saturate(100%) blur(2px);

  & > .logo {
    @include flexbox(start);
    img {
      cursor: pointer;
      height: 24px;
      width: auto;
    }
  }

  .trans-page {
    padding-left: 3rem;
    font-weight: lighter;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    width: 130px;

    .page {
      transition: 0.7s;

      &:hover {
        transition: 1s;
        color: $jade;
        text-shadow: 0 0 2px $jade;
        cursor: pointer;
      }
    }
  }

  .btn-wrapper {
    width: 220px;
    font-weight: lighter;
    font-size: 0.9rem;
    color: $jade;
    position: relative;

    .page {
      transition: 0.7s;

      &:hover {
        transition: 1s;
        color: $jade;
        text-shadow: 0 0 2px $jade;
        cursor: pointer;
      }
    }
  }

  .nav-btn {
    padding: 6px 0px;
    flex: 0 1 auto;
    position: absolute;
    right: 3.5%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    border-radius: 4px;
    transition: 1s;
    letter-spacing: 1px;

    span {
      font-size: 16px;
      font-weight: 400;
      padding: 6px 17px;
      border-radius: 5px;
      background: linear-gradient(to right, $jade-light, $jade-dark);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &:hover {
        background: $secondary;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &:hover {
      cursor: pointer;
      background: $jade;
      color: $secondary;
      box-shadow: 0 0 5px $jade, 0 0 25px $jade; //, 0 0 50px $jade-light;
    }

    &.logout span {
      padding: 6.2px 14px;
      letter-spacing: 0.5px;
    }
  }
}

.hamburger {
  position: relative;
  display: none;
  margin-right: 18px;

  .bar {
    position: relative;
    background: $primary;
    width: 18px;
    height: 1px;
    border-radius: 2px;
    margin-bottom: 5.5px;
    transition-property: transform, opacity, background-color, width;
  }

  .bar:first-child {
    margin-top: 6.8px;
    top: 0;
  }

  .bar:nth-child(2) {
    opacity: 1;
  }

  .bar:last-child {
    bottom: 0;
  }

  .menu-trigger {
    background: transparent;
    color: $primary;
    font-weight: 200;
    font-size: 0.9rem;
    cursor: pointer;
    border: none;
  }

  .menu {
    background: $background;
    font-weight: 200;
    font-size: 0.9rem;
    border-radius: 8px;
    position: absolute;
    top: 38px;
    left: 0;
    width: 150px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;

    &.open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      a {
        text-decoration: none;
        color: $primary;
        font-weight: 200;
        padding: 15px 20px;
        display: block;
      }
    }
  }
}

@media screen and (max-width: $md-breakpoint) {
  .nav {
    padding: 0.7rem 1rem;

    .hamburger {
      display: block;
    }

    .page {
      display: none;
    }
  }
}

// .nav-btn {
//   font-size: 17px;
//   padding: 6px 19px;
//   position: absolute;
//   right: 90px;
//   top: 20%;
//   background: transparent;
//   font-weight: 500;
//   letter-spacing: 1px;
//   background: linear-gradient(300deg, $jade-light, $jade-dark);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;

//   &:hover {
//     cursor: pointer;
//     background: linear-gradient(90deg, $jade-dark, $jade-light, $jade-dark);
//     background-repeat: no-repeat;
//     background-size: 80%;
//     animation: animate 1.8s linear infinite;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//   }
// }

// @keyframes animate {
//   0% {
//     background-position: -500%;
//   }
//   100% {
//     background-position: 500%;
//   }
// }

// .gnb {
//   position: relative;
//   border-bottom: 1px solid $border;

//   &-wrapper {
//     @include flexbox(between);
//     height: 50px;
//   }

//   &-right {
//     .button-group {
//       @include flexbox(end);
//     }

//     .gnb-icon-button.is-search {
//       margin-right: 4px;
//     }
//   }

//   .logo {
//     @include pos-center;

//     a {
//       display: block;
//     }

//     img {
//       display: block;
//       width: auto;
//       height: 20px;
//     }
//   }

//   @include responsive(T) {
//     &-left {
//       @include flexbox(start);
//     }

//     &-right {
//       @include flexbox(end);

//       .button-group {
//         margin-right: 24px;

//         .gnb-icon-button {
//           margin-right: 8px;
//         }

//         .gnb-auth {
//           margin-left: 8px;

//           a {
//             @include text-style(14, $secondary);
//             font-weight: 700;

//             &:first-child {
//               margin-right: 12px;
//             }

//             &:hover {
//               color: $blue;
//             }
//           }
//         }
//       }
//     }

//     &-wrapper {
//       height: 80px;
//     }

//     .logo {
//       position: static;
//       margin-right: 32px;
//       transform: none;

//       img {
//         height: 24px;
//       }
//     }

//     .btn-primary {
//       width: 88px;

//       i {
//         margin-left: 4px;
//       }
//     }
//   }

//   @include responsive(D) {
//     &-right {
//       .input-group {
//         width: 264px;
//         margin-right: 24px;
//       }
//     }
//   }
// }
