.nav {
  @include flexbox(between);
  padding: 0.7rem 2rem;
  // border-bottom: 1px solid #5A5B62;
  // flex: 0 0 27px;
  position: fixed;
  height: 27px;
  z-index: 100;
  width: 100%;
  background-color: rgba($color: $background, $alpha: 0.75);
  backdrop-filter: saturate(100%) blur(2px);

  .logo {
    cursor: pointer;
    @include flexbox(start);
    img {
      height: 24px;
      width: auto;
    }
  }

  .nav-btn {
    padding: 6px 19px;
    flex: 0 1 auto;
    position: absolute;
    right: 90px;
    top: 20%;
    background-color: transparent;
    color: $jade;
    border: none;
    border-radius: 5px;
    transition: 1s;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 400;

    &:hover {
      cursor: pointer;
      background: $jade;
      color: $secondary;
      box-shadow: 0 0 5px $jade-light, 0 0 25px $jade-light; // 0 0 50px $jade-light;
    }
  }
}

// .gnb {
//   position: relative;
//   border-bottom: 1px solid $border;

//   &-wrapper {
//     @include flexbox(between);
//     height: 50px;
//   }

//   &-right {
//     .button-group {
//       @include flexbox(end);
//     }

//     .gnb-icon-button.is-search {
//       margin-right: 4px;
//     }
//   }

//   .logo {
//     @include pos-center;

//     a {
//       display: block;
//     }

//     img {
//       display: block;
//       width: auto;
//       height: 20px;
//     }
//   }

//   @include responsive(T) {
//     &-left {
//       @include flexbox(start);
//     }

//     &-right {
//       @include flexbox(end);

//       .button-group {
//         margin-right: 24px;

//         .gnb-icon-button {
//           margin-right: 8px;
//         }

//         .gnb-auth {
//           margin-left: 8px;

//           a {
//             @include text-style(14, $secondary);
//             font-weight: 700;

//             &:first-child {
//               margin-right: 12px;
//             }

//             &:hover {
//               color: $blue;
//             }
//           }
//         }
//       }
//     }

//     &-wrapper {
//       height: 80px;
//     }

//     .logo {
//       position: static;
//       margin-right: 32px;
//       transform: none;

//       img {
//         height: 24px;
//       }
//     }

//     .btn-primary {
//       width: 88px;

//       i {
//         margin-left: 4px;
//       }
//     }
//   }

//   @include responsive(D) {
//     &-right {
//       .input-group {
//         width: 264px;
//         margin-right: 24px;
//       }
//     }
//   }
// }
