@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kiwi+Maru:wght@500&display=swap");

* {
  color: #e2e4e9;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: hsl(222, 24%, 6%);
  opacity: 1;
  padding: 1rem;
}

.Header {
  margin: 0 1rem 1rem;
  padding-bottom: 1rem;
  height: 50px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e2e4e956;
}

.Header > * {
  flex: 0 1 400px;
  text-align: center;
}

.Header .title {
  font-size: 1.2rem;
  margin: auto;
}

.Header .logo {
  /* color: white; */
  /* color: #1ee6fe; */
  /* color: #1ee6fe; */
  /* text-shadow: 5px 5px 10px white; */
  /* color: rgb(44, 220, 135); */
  /* color: rgb(115, 0, 12); */
  /* color: rgb(110, 242, 242); */
  /* color: rgb(64, 0, 187); */
  /* color: rgb(17, 159, 147); */
  /* color: rgb(60, 159, 157); */
  text-align: left;
  margin: auto;
  font-size: 1.5rem;
  font-family: "Dancing Script", cursive;
  display: flex;
  flex-direction: row;
}

.Header .logo img {
  width: 30px;
  height: 30px;
}

.Header .button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}

.Header .button > div {
  border-radius: 24px;
  font-weight: 700;
  font-size: 1rem;
  /* background-color: hsl(222, 18%, 30%); */
}

.Content {
  margin: 2rem;
}

.Content div:first-child {
  font-size: 3rem;
  width: max-content;
  margin: 2rem;
  padding: 3rem;
  border-radius: 24px;
  background-color: hsl(224, 12%, 14%);
}

.Content div:last-child {
  font-size: 3rem;
  height: 400px;
  margin: 2rem;
  padding: 3rem;
  border-radius: 24px;
  background-color: hsl(224, 12%, 14%);
}
